# --- Cấu hình chung cho Mac và Editor ---
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# --- Cấu hình cho Mobile App (Flutter / Dart) ---
# Tự động bỏ qua các file build nặng nề
/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

# Bỏ qua các file cấu hình iOS/Android cục bộ
**/ios/Flutter/.last_build_id
**/android/local.properties
**/ios/Pods/
**/ios/.symlinks/
**/ios/Runner.xcworkspace/xcuserdata

# Web related
lib/generated_plugin_registrant.dart